---
---
@import "{{ site.theme }}";

.page-header {
  background-image: url('/assets/images/Bear.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}
